<div>
  <ul style="list-style: none;" *ngFor="let user of users; let i = index;">
    <li>
      <label style="margin: 10px;">{{user.label ? user.label : user.legend}}</label>
      <span *ngIf="user.required === 1 ? true:false" style="color: red;margin: 5px;">*</span>
      <div *ngIf="user.type !== 'radio'">
        <input id="{{user.id}}" [(ngModel)]="users[i].value" name="{{user.name}}" type="{{user.type}}"
          placeholder="Just a placeholder" pattern="user.pattern" required="{{user.required === 1 ? true:false}}" />
      </div>
      <div *ngIf="user.type === 'radio'">
        <ng-container *ngFor="let option of users[i].options; let j = index;">
          <label>
            <input type="radio" name="radioGroup{{j}}" [(ngModel)]="users[i].options[j].option" value="option1" />
            {{option.label}}
          </label>
        </ng-container>
      </div>
    </li>
    </ul>
    <button style="margin-left: 50px;" (click)="onSubmit()">Submit</button>
    </div>
    <!-- <div *ngFor="let item of users; let i = index">
                                                                                          <input type="item.type" [(ngModel)]="users[i].name" />
        </div>
    <button (click)="onSubmit()">Submit</button> -->

    <!-- <div *ngFor="let item of formItems; let i = index">
          <input type="text" [(ngModel)]="formItems[i].firstName" />
          <label>
            <input type="radio" name="radioGroup{{i}}" [(ngModel)]="formItems[i].selectedRadio" value="option1" /> Option 1
          </label>
          <label>
            <input type="radio" name="radioGroup{{i}}" [(ngModel)]="formItems[i].selectedRadio" value="option2" /> Option 2
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="formItems[i].checkbox1" /> Checkbox 1
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="formItems[i].checkbox2" /> Checkbox 2
          </label>
    </div>
    <button (click)="submitForm()">Submit</button> -->
<router-outlet></router-outlet>
